/target/
*.class
.settings/
.plugin_settings/
.classpath
.project
.idea/
*.iml
*.log
.vscode/
# Angular frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
frontend/*.log
frontend/.editorconfig

